* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	height: 100%;
	overflow: hidden;
	background: #fff;
}

body {
	height: 100%;
	overflow: hidden;
	background: #fff;
	font: 13px/1.231 arial, helvetica, clean, sans-serif;
}

.part {
	position: absolute;
	border: 1px solid #98aab1;
}

.top {
	left: 5px;
	top: 0px;
	right: 5px;
	height: 60px;
}

.side {
	left: 5px;
	top: 65px;
	bottom: 30px;
	width: 200px;
	overflow: auto;
}

.main {
	left: 210px;
	top: 65px;
	bottom: 30px;
	right: 5px;
}

.bottom {
	left: 5px;
	bottom: 0px;
	right: 5px;
	height: 25px;
}

.main iframe {
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

.max {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#foot {
	text-align: center;
	line-height: 25px;
	background-image: url(../img/fav/bg_ft.gif);
	color: #3671a5;
}

#logo {
	position: absolute;
	text-align: left;
	left: 0px;
	top: 0px;
	color: #545454;
	height: 60px;
	width: 185px;
	background: url(../img/fav/my_fav.jpg) 25px 0px no-repeat;
}

#mailto {
	position: absolute;
	right: 5px;
	top: 5px;
}

#mailto a {
	text-decoration: none;
}

#mailto a:hover {
	color: red;
	text-decoration: underline;
}

#channel {
	position: absolute;
	text-align: left;
	width: 85%;
	height: 60px;
	bottom: 0px;
	right: 0px;
	/*background: url(../img/fav/banner.gif) top left no-repeat;*/
}

#channel div.wrapper {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: #6293BB;
	font-size: 13px;
}

#nav ul {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#nav li {
	background: url(../img/fav/line_white.gif) no-repeat right center;
	line-height: 1em;
	padding: 0px 10px;
	margin: 0px;
	display: inline;
	float: left;
}

#nav li.last {
	background: none transparent scroll repeat 0% 0%
}

#nav a {
	display: block;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 15px;
	margin: 0px;
}

#nav a:hover {
	background-color: #3671A5;
}

#nav a.selected {
	background-color: #3671A5;
}

#sub {
	float: left;
	width: 180px;
	font-size: 1.3em;
}

#sub dt {
	margin: 1em 0 0 0;
	padding: 0 0 5px 8px;
	line-height: 1.2em;
	border-bottom: 1px solid #f4f4f4;
	font-weight: bold;
	color: #6293BB;
}

#sub dd a,#sub li a {
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding: 4px 3px 4px 8px;
	font-size: 90%;
	text-decoration: none;
	color: #555;
	margin: 2px 0;
	height: 13px;
}

#sub dd a:hover,#sub dd a:focus,#sub dd a:hover,#sub dd a:focus {
	background: #f3f3f3;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#sub dd a.selected {
	background: #f3f3f3;
	color: #CC6301;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}