## 文件 .gitignore 的格式规范如下：
## 		所有空行或者以注释符号 ＃ 开头的行都会被 Git 忽略。
## 		可以使用标准的 glob 模式匹配(即 shell 所使用的简化了的正则表达式)。
## 		匹配模式最后跟反斜杠（/）说明要忽略的是目录。
## 		要忽略指定模式以外的文件或目录，可以在模式前加上惊叹号（!）取反。

/TODO.txt # 仅仅忽略项目根目录下的 TODO.txt 文件
/build # 忽略 /build 目录下的所有文件
/temp # 忽略 /temp 目录下的所有文件